<form [formGroup]="checkoutForm" (ngSubmit)="$event.preventDefault()">
  <mat-form-field appearance="fill">
    <mat-label>{{'Enter your Name' | localization}}</mat-label>
    <input matInput
      formControlName="userName">
    <mat-error *ngIf="checkoutForm.invalid">{{getErrorMessage('userName')}}</mat-error>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>{{'Enter your login' | localization}}</mat-label>
    <input matInput formControlName="login">
    <mat-error *ngIf="checkoutForm.invalid">{{getErrorMessage('login')}}</mat-error>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>{{'Enter password' | localization}}</mat-label>
    <input matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password">
    <mat-error *ngIf="checkoutForm.invalid">{{getErrorMessage('password')}}</mat-error>
    <button mat-icon-button
            matSuffix (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <br>

  <button mat-flat-button
          color="primary"
          type="submit"
          [disabled]="checkoutForm.invalid"
          (click)="submitSignUp()">{{'Sign up' | localization}}
  </button>
</form>
