<form [formGroup]="checkoutForm" (ngSubmit)="$event.preventDefault()">
  <mat-form-field appearance="fill">
    <mat-label>{{'forms.boardTitleField' | translate}}</mat-label>
    <input matInput
          formControlName="boardTitle">
    <mat-error *ngIf="checkoutForm.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <br>

  <mat-form-field class="user-chip-list" appearance="fill">
    <mat-label>{{'forms.inviteUsersField' | translate}}</mat-label>
    <mat-chip-grid #chipGrid aria-label="Invited users">

      <mat-chip-row *ngFor="let participant of participants"
                    (removed)="remove(participant)"
                    [editable]="false">
        {{participant.name}}

        <button matChipRemove [attr.aria-label]="'remove ' + participant">
          <mat-icon>cancel</mat-icon>
        </button>

      </mat-chip-row>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>{{'forms.userSelectionField' | translate}}</mat-label>
        <input type="text"
              placeholder=""
              aria-label="Number"
              matInput
              formControlName="participants"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipGrid"
              [matChipInputAddOnBlur]="addOnBlur">

      <mat-autocomplete #auto="matAutocomplete"
                        (optionSelected)="add($event)">
        <mat-option *ngFor="let userName of foundedUsers | async"
                    [value]="userName">
          {{userName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    </mat-chip-grid>

  </mat-form-field>
</form>
