<h2>{{'welcome.title' | translate }}</h2>

<mat-stepper orientation="vertical" [linear]="false" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>{{'project.title' | translate}}</ng-template>
    <p>{{'project.description' | translate }}</p>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>{{'course.title' | translate}}</ng-template>
    <p>{{'course.description' | translate }}</p>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <ng-template matStepLabel>{{'developer.title' | translate}}</ng-template>
    <p>{{'developer.description' | translate }}</p>
  </mat-step>

