<div class="confirmation-wrapper">
  <h2 mat-dialog-title>{{'confirmation.title.' + type | translate}}</h2>

  <mat-dialog-content [ngSwitch]="type" id="popup-content" class="mat-typography" >

    <app-form-new-board *ngSwitchCase="'createBoard'"></app-form-new-board>

    <app-form-new-column *ngSwitchCase="'createColumn'"></app-form-new-column>

    <app-form-new-task *ngSwitchCase="'createTask'"></app-form-new-task>

    <app-form-new-task *ngSwitchCase="'editTask'"></app-form-new-task>

    <div *ngSwitchCase="'deleteBoard'">
      <div *ngIf="isRightToDelete">
        <p>{{'confirmation.' + type + '.question' | translate}}:</p>
        <p class="board-title">"{{boardTitle}}?"</p>
        <p>{{'confirmation.' + type + '.note' | translate}}</p>
      </div>
      <div *ngIf="!isRightToDelete">
        <p>{{'confirmation.' + type + '.notOwnerNote' | translate}}</p>
        <p>{{'confirmation.' + type + '.owner' | translate}}: "{{boardOwner}}"</p>
      </div>
    </div>

    <div *ngSwitchCase="'deleteUser'">
        <h2>{{'confirmation.' + type + '.question' | translate}}</h2>
        <h4>{{'confirmation.' + type + '.note' | translate}}</h4>
    </div>

    <div *ngSwitchCase="'deleteColumn'">
      <h2>{{'confirmation.' + type + '.question' | translate}}</h2>
      <h4>{{'confirmation.' + type + '.note' | translate}}</h4>
    </div>

    <div *ngSwitchCase="'deleteTask'">
      <h2>{{'confirmation.' + type + '.question' | translate}}</h2>
      <h4>{{'confirmation.' + type + '.note' | translate}}</h4>
    </div>

    <h3 *ngSwitchDefault>{{'confirmation.error' | translate}}</h3>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button
            color="primary"
            [mat-dialog-close]="true"
            [disabled]="!isConfirmValid">
      {{'buttons.confirm' | translate}}
    </button>

    <button mat-flat-button
            color="warn"
            mat-dialog-close
            cdkFocusInitial>
      {{'buttons.cancel' | translate}}
    </button>
  </mat-dialog-actions>
</div>
