<form [formGroup]="checkoutForm" (ngSubmit)="$event.preventDefault()">
  <mat-form-field appearance="fill">
    <mat-label>{{'Enter login' | localization}}</mat-label>
    <input matInput
          formControlName="login">
    <mat-error *ngIf="checkoutForm.invalid">{{getSignInErrorMessage('login')}}</mat-error>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>{{'Enter password' | localization}}</mat-label>
    <input matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password">

    <mat-error *ngIf="checkoutForm.invalid">{{getSignInErrorMessage('password')}}</mat-error>

    <button mat-icon-button
            matSuffix (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <br>

  <button mat-flat-button
          color="primary"
          type="submit"
          [disabled]="checkoutForm.invalid"
          (click)="submitSignIn()">{{'Login' | localization}}</button>
</form>
