<button mat-icon-button
        [matMenuTriggerFor]="menu"
        type="button">
  <mat-icon>menu</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item
          [matMenuTriggerFor]="colors"
          type="button">
    palettes
    <mat-icon>format_paint</mat-icon>
  </button>
</mat-menu>

<mat-menu #colors="matMenu">
    <button *ngFor="let theme of colorThemes"
            class="color-theme-button"
            type="button"
            [matTooltip]="theme.title"
            matTooltipPosition="left"
            (click)="setColorTheme(theme.className)">
      <span [class]="'color-wrapper ' + theme.className">
        <span class="color-item color-item-primary"></span>
        <span class="color-item color-item-accent"></span>
        <span class="color-item color-item-warn"></span>
        <mat-icon color="primary">{{(theme.isDark) ? 'dark_mode' : 'light_mode'}}</mat-icon>
      </span>

    </button>

</mat-menu>
