<app-search-panel></app-search-panel>

<button mat-flat-button
        *ngIf="!isBoards"
        type="button"
        (click)="createNewBoard()">
  <mat-icon>add</mat-icon>{{'main.title' | translate}}
</button>

<ng-template #boardTemplate
            let-boardTitle="title"
            let-boardOwner="owner"
            let-boardParticipants="participants"
            let-delete="deleteBoard"
            let-boardID="boardId">
  <mat-card class="board-card" (click)="openBoard(boardID)">
    <mat-card-header>
      <mat-card-title matListItemTitle>{{boardTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p matListItemLine>{{'board.creator' | translate}}: {{boardOwner}}</p>
      <p matListItemLine>{{'board.participants' | translate}}: {{boardParticipants}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-fab
              type="button"
              color="warn"
              (click)="deleteBoard(boardID, boardTitle, boardOwner)"
              aria-label="Icon button with a delete icon">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<h3>{{'main.firstSubTitle' | translate}}</h3>
<ng-template [ngTemplateOutlet]="boardTemplate"
              *ngFor="let board of ownBoardsOutput"
              [ngTemplateOutletContext]="
                { title: board.title,
                  owner: board.owner,
                  participants: board.users,
                  boardId: board._id
                }">
</ng-template>
<mat-divider class="boards-divider"></mat-divider>

<h3>{{'main.secondSubTitle' | translate}}</h3>
<ng-template [ngTemplateOutlet]="boardTemplate"
              *ngFor="let board of participanceBoardsOutput"
              [ngTemplateOutletContext]="{title: board.title,
                owner: board.owner,
                participants: board.users,
                boardId: board._id
              }">
</ng-template>
<mat-divider class="boards-divider"></mat-divider>
<h3>{{'main.thirdSubTitle' | translate}}</h3>
<ng-template [ngTemplateOutlet]="boardTemplate"
              *ngFor="let board of otherBoardsOutput"
              [ngTemplateOutletContext]="{title: board.title,
                owner: board.owner,
                participants: board.users,
                boardId: board._id
              }">
</ng-template>

