<form [formGroup]="checkoutForm" (ngSubmit)="$event.preventDefault()">
    <mat-form-field appearance="fill">
      <mat-label>{{'Task title' | localization}}</mat-label>
      <input matInput formControlName="taskTitle" (input)="checkInput()">
      <mat-error *ngIf="checkoutForm.invalid">{{getErrorMessage('taskTitle')}}</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>{{'Select an excecutor' | localization}}</mat-label>
      <mat-select (selectionChange)="checkInput($event)" formControlName="taskExecutor">
        <mat-option *ngFor="let user of availableUsers"
                    [value]="user.name">
          {{user.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field class="textarea-full-width"
                    appearance="fill">
      <mat-label>{{'Enter a task description' | localization}}</mat-label>
      <textarea matInput formControlName="taskDescription"
                (input)="checkInput()"></textarea>
      <mat-error *ngIf="checkoutForm.invalid">{{getErrorMessage('taskDescription')}}</mat-error>
    </mat-form-field>

  </form>
