
    <div cdkDropListGroup
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="appColumns"
        (cdkDropListDropped)="dropColumn($event)"
        [cdkDropListDisabled]="isTaskDropDisabled">
        <div class="board-column" *ngFor="let column of appColumns" cdkDrag>
            <h2>{{column.title}} --> {{column.order}}</h2>

            <button mat-flat-button
                    class="delete-column-button"
                    (click)="deleteColumn(column._id)">
                <mat-icon>delete_sweep</mat-icon>
            </button>

            <button mat-flat-button
                    class="add-task-button"
                    (click)="createTask(column._id)">
                <mat-icon>add</mat-icon>
            </button>

            <div cdkDropList class="list" [cdkDropListData]="column.tasks"
                (cdkDropListDropped)="dropTask($event, column._id)"
                [cdkDropListDisabled]="isTaskDropDisabled">

                <div class="list-item" *ngFor="let task of column.tasks" cdkDrag>
                    <h3>{{task.title}} --> {{task.order}}</h3>
                    <h4>Description: {{task.description}}</h4>
                    <h4>Current task executor:</h4>
                    <p *ngFor="let user of task.users">{{user}}</p>

                    <button mat-flat-button
                    class="delete-column-button"
                    (click)="deleteTask(task._id, column._id)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <button mat-flat-button
                class="add-column-button"
                (click)="createColumn()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
