/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

@include mat.core();

html, body { height: 100%; }

/* App themes */

$default-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$pink-palette),
  ),
  // Only include `typography` and `density` in the default theme.
  typography: mat.define-typography-config(),
  density: -2,
));

$dark-pink-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$pink-palette),
    accent: mat.define-palette(mat.$blue-grey-palette),
 ),
));

/* default theme */

body {
  @include mat.all-component-themes($default-theme);
}

/* additional App theme classes */

.dark-pink-theme {
  @include mat.all-component-colors($dark-pink-theme);
}
