/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use 'sass:map';
@import "styles/themes";
@import "styles/app-mixins";

@include mat.core();

html, body { height: 100%; }

body { margin: 0; }

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

main {
  width: calc(100vw - 120px);
  min-height: calc(100vh - 161px);
  margin: 20px auto;
  padding-top: 1px;
}

@media (max-width: 539px) {
  main {
    width: 100%;
    margin: 20px auto;
  }
}

/* default theme */

body {
  @include default-theme($default-theme);
}

/* additional App theme classes */

.dark-pink-theme {
  @include additional-theme($dark-pink-theme);
}

.dark-green-theme {
  @include additional-theme($dark-green-theme);
}

.light-desert-theme {
  @include additional-theme($light-desert-theme);
}

.dark-peace-theme {
  @include additional-theme($dark-peace-theme);
}

.light-teal-theme {
  @include additional-theme($light-teal-theme);
}
