<form [formGroup]="checkoutForm" (ngSubmit)="$event.preventDefault()">
  <mat-form-field appearance="fill">
    <mat-label>{{'forms.taskTitleField' | translate}}</mat-label>
    <input matInput
          autocomplete="off"
          formControlName="taskTitle"
          (input)="checkInput()">
    <mat-error *ngIf="checkoutForm.invalid">{{getErrorMessage('taskTitle')}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{'forms.excecutorSelectionField' | translate}}</mat-label>
    <mat-select (selectionChange)="checkInput($event)"
                formControlName="taskExecutor">
      <mat-option *ngFor="let user of availableUsers"
                    [value]="user.name">
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="textarea-full-width"
                  appearance="fill">
    <mat-label>{{'forms.taskDescriptionField' | translate}}</mat-label>
    <textarea matInput
              autocomplete="off"
              formControlName="taskDescription"
              (input)="checkInput()"></textarea>
    <mat-error *ngIf="checkoutForm.invalid">{{getErrorMessage('taskDescription')}}</mat-error>
  </mat-form-field>
</form>
